.root {
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
}

.refBox {
  display: flex;
  justify-content: space-between;
  background-color: #15c7ff;
  padding: 25px 200px;
  clip-path: polygon(10% 5%, 100% 5%, 90% 100%, 0% 100%);
  margin: 20px 0;
}

.refImg {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover;
  align-self: flex-start;
}

.refTextBox {
  display: flex;
  flex-direction: column;
}

.person {
  font-size: 10px;
}

.refText {
  font-size: 9px;
}

@media screen and (min-width: 1100px) {
}

/* old Version  */

/* .root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.refBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 3vh 5vw;
  width: 300px;
}

.refImg {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s;
}

.person {
  margin: 0;
  color: #15c7ff;
}

.refText {
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  transform: translatey(-40%);
  color: black;
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  transition: opacity 1s;
}

.refBox:hover .refText {
  visibility: visible;
  opacity: 1;
}

.refBox:hover .refImg {
  opacity: 0.1;
}

@media screen and (min-width: 600px) {
  .root {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
  }

  .refBox {
    width: 400px;
  }
}

@media screen and (min-width: 1100px) {
  .refText {
    font-size: 15px;
  }
} */
