.root {
  display: flex;
  flex-direction: column;
  /* margin: 30px 30px; */
}

.refBox {
  display: flex;
  flex-direction: column;
  background-color: #15c7ff;
  padding: 20px;
  /* background-color: rgba(21, 199, 255, 0.2); */
  /* padding: 25px 200px; */
  /* clip-path: polygon(0% 5%, 100% 5%, 90% 100%, 0% 100%); */
  margin: 20px 0;
}

.refImg {
  position: relative;
  height: 150px;
  width: 250px;
  border-radius: 10px;
  object-fit: cover;
  align-self: center;
}

.refTextBox {
  display: flex;
  flex-direction: column;
}

.person {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.refText {
  font-size: 12px;
}

@media screen and (min-width: 500px) {
  .refText {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1100px) {
  .root {
    margin: 30px 100px;
  }

  .refBox {
    clip-path: polygon(0% 5%, 100% 5%, 90% 100%, 0% 100%);
    height: 200px;
    padding-right: 100px;
    padding-left: 20px;
    align-items: center;
    flex-direction: row;
  }

  .refImg {
    position: absolute;
    height: 150px;
    width: 150px;
    margin-right: 40px;
    align-self: center;
  }

  .refTextBox {
    align-self: flex-start;
  }

  .person {
    margin-left: 170px;
    margin-top: 0;
    font-size: 15px;
    align-self: flex-start;
    color: white;
  }

  .refText {
    margin-left: 170px;
    margin-top: 20px;
    font-size: 13px;
    width: 80%;
  }
}

@media screen and (min-width: 1400px) {
  .refBox {
    margin-right: 100px;
    margin-left: 100px;
  }
  .person {
    font-size: 18px;
  }

  .refText {
    font-size: 15px;
  }
}

/* old Version  */

/* .root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.refBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 3vh 5vw;
  width: 300px;
}

.refImg {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s;
}

.person {
  margin: 0;
  color: #15c7ff;
}

.refText {
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  transform: translatey(-40%);
  color: black;
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  transition: opacity 1s;
}

.refBox:hover .refText {
  visibility: visible;
  opacity: 1;
}

.refBox:hover .refImg {
  opacity: 0.1;
}

@media screen and (min-width: 600px) {
  .root {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
  }

  .refBox {
    width: 400px;
  }
}

@media screen and (min-width: 1100px) {
  .refText {
    font-size: 15px;
  }
} */
