.root {
  background-color: #9652fc;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.refBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 3vh 5vw;
  width: 600px;
}

.refImg {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}

.person {
  font-size: 1.5vw;
  color: #fff;
}

.refText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  transition: opacity 1s;
}

.refBox:hover .refText {
  visibility: visible;
  opacity: 1;
}

.refBox:hover .refImg {
  opacity: 0.1;
}
