.root {
  background-color: #9652fc;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.refBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 3vh 5vw;
  width: 600px;
}

.refImg {
  border-radius: 10px;
  height: 375px;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s;
}

.person {
  margin: 0;
  color: #fff;
}

.refText {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  padding: 10px;
  transition: opacity 1s;
}

.refBox:hover .refText {
  visibility: visible;
  opacity: 1;
}

.refBox:hover .refImg {
  opacity: 0.1;
}

@media screen and (max-width: 400px) {
  /* .refbox {
    width: 100%;
  } */
  .refBox {
    width: 300px;
  }
  .refImg {
    height: 200px;
  }

  .refText {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .person {
    font-size: 15px;
  }
  .refImg {
    height: 200px;
  }

  .refText {
    font-size: 12px;
  }

  .root {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* @media screen and (max-width: 1000px) {
  .refbox {
    width: 100px;
  }
} */
