.root {
  margin-top: 1vh;
}

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
}

.galleryCard {
  position: relative;
}
.galleryImg {
  position: relative;
  height: 200px;
  width: 100%;
}

.galleryText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 2;
}
