.root {
  margin-top: 100px;
}

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 20px;
  margin: 20px 50px;
}

.galleryCard {
  position: relative;
}
.galleryImg {
  position: relative;
  vertical-align: middle;
  border-radius: 10px;
  position: relative;
  height: 300px;
  width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s;
}

.galleryText {
  position: absolute;
  width: 100%;
  padding: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.galleryCard:hover .galleryText {
  visibility: visible;
  opacity: 1;
}

.galleryCard:hover .galleryImg {
  opacity: 0.1;
  zoom: 1;
}
