.root {
  block-size: min-content;
  /* background-color: #15c7ff; */
  background: linear-gradient(
    90deg,
    rgba(42, 71, 94, 0.5) 0%,
    rgba(21, 199, 255, 0.5) 0%,
    rgba(87, 4, 81, 0.5) 65%
  );
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  text-align: center;
  margin-top: 0;
  color: #fff;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.questionBlock {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.question {
  font-size: 15px;
  color: #fff;
}

.answer {
  font-size: 10px;
}

@media screen and (min-width: 1100px) {
  .title {
    font-size: 25px;
  }

  .gridContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .questionBlock {
    width: 450px;
    margin: 0 50px;
  }

  .question {
    font-size: 20px;
  }

  .answer {
    font-size: 15px;
  }
}

@media screen and (min-width: 1400px) {
  .questionBlock {
    width: 550px;
  }
}

/* .gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
} */
