.root {
  border-radius: 10px;
  block-size: min-content;
  background-color: #3a3535;
}

.title {
  position: relative;
  text-align: center;
  top: 50px;
  margin-bottom: 100px;
  color: #fff;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  align-items: flex-start;
  justify-items: center;
}

.questionBlock {
  width: 400px;
  margin-left: 100px;
  margin-right: 100px;
}

.question {
  font-size: 1rem;
  color: #15c7ff;
}

.answer {
  color: #fff;
}
