.root {
  block-size: min-content;
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  text-align: center;
  margin-top: 0;
  color: #15c7ff;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.questionBlock {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.question {
  font-size: 15px;
  color: #15c7ff;
}

.answer {
  font-size: 10px;
}

@media screen and (min-width: 1100px) {
  .title {
    font-size: 25px;
  }

  .gridContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .questionBlock {
    width: 450px;
    margin: 0 50px;
  }

  .question {
    text-align: center;
    font-size: 20px;
  }

  .answer {
    font-size: 15px;
  }
}

@media screen and (min-width: 1400px) {
  .questionBlock {
    width: 550px;
  }
}

/* .gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
} */
