.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.link {
  cursor: pointer;
  width: 300px;
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0 100%);
  background: linear-gradient(to left, #fff 50%, #15c7ff 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
  color: black;
}

.link:hover {
  color: white;
  background-position: left;
}

@media screen and (min-width: 800px) {
  .root {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 400px;
  }

  .img {
    position: relative;
    height: 250px;
  }
}
