.root {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #15c7ff;
}

.card {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  margin-left: 3em;
  margin-right: 3em;
}

.imgContainer {
}

.serviceImg {
}

.cardImg {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.titleContainer {
}

.cardTitle {
  font-size: 24px;
  color: #fff;
}

.infoContainer {
  width: 400px;
  text-align: center;
}

.cardInfo {
  font-size: 18px;
  text-align: left;
}
