.root {
  background-color: #15c7ff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.card {
  width: 400px;
  margin: 1em 3em;
  text-align: center;
}

.imgContainer {
}

.serviceImg {
  height: 150px;
  width: 150px;
}

.cardTitle {
  font-size: 24px;
  color: #fff;
}

.infoContainer {
  text-align: center;
}

.cardInfo {
  text-align: left;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1100px) {
  .card {
    width: 450px;
  }
}

@media screen and (max-width: 800px) {
  .root {
    margin-top: 2em;
  }
  .serviceImg {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .serviceImg {
    height: 70px;
    width: 70px;
  }

  .cardInfo {
    font-size: 12px;
  }
}
