.root {
  background-color: #15c7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 300px;
  margin: 1vh 3vw;
  text-align: center;
}

.imgContainer {
}

.serviceImg {
  height: 100px;
  width: 100px;
}

.cardTitle {
  margin: 0;
  font-size: 25px;
  color: #fff;
}

.infoContainer {
  text-align: center;
}

.cardInfo {
  text-align: left;
  letter-spacing: 0.5px;
  font-size: 12px;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  .root {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 350px;
  }

  .cardTitle {
    margin-bottom: 10px;
  }

  .cardInfo {
    height: 100px;
  }
}
