.root {
  /* background-color: #15c7ff; */
  background: linear-gradient(
    90deg,
    rgba(42, 71, 94, 0.5) 0%,
    rgba(21, 199, 255, 0.5) 0%,
    rgba(87, 4, 81, 0.5) 65%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 300px;
  margin: 1vh 3vw;
  text-align: center;
}

.test {
  position: center;
}

.imgContainer {
}

.serviceImg {
  height: 100px;
  width: 100px;
}

.cardTitle {
  margin: 0;
  font-size: 25px;
  color: #fff;
}

.infoContainer {
  text-align: center;
}

.cardInfo {
  text-align: left;
  letter-spacing: 0.5px;
  font-size: 12px;
  margin: 0 auto;
}

@media screen and (min-width: 1100px) {
  .root {
    background: #fff;
    flex-direction: row;
    justify-content: center;
  }

  .card {
    background: linear-gradient(
      0deg,
      rgba(177, 31, 169, 0.7) 12%,
      rgba(21, 199, 255, 0.7) 50%,
      rgba(0, 212, 255, 0.7) 100%
    );
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
  }

  .cardTitle {
    margin-bottom: 10px;
  }

  .cardInfo {
    color: white;
    height: 100px;
    font-size: 14px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 800px) {
  .card {
    width: 500px;
  }
}
