.root {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 30px 10px;
}

.video {
  margin: 0 auto;
  height: 200px;
}

.text {
  margin: 5px 20px;
}
