.root {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.heroImg {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: -200px;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  filter: opacity(0.2);
}

.headers {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #15c7ff;
  text-align: center;
}

.mainTitle {
  font-size: 25px;
}

.subTitle {
  font-size: 18px;
}

.mainHeading,
.subheading {
  width: 100%;
}

.mainTitle,
.subTitle,
.name,
.ideas {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .mainTitle,
  .name {
    font-size: 35px;
  }
  .root {
    height: 90vh;
  }
}

@media screen and (min-width: 1000px) {
  .subTitle,
  .ideas {
    font-size: 25px;
  }
}

@media screen and (min-width: 1100px) {
  .mainTitle {
    font-size: 65px;
  }

  .subTitle {
    font-size: 35px;
  }

  .name {
    font-size: 40px;
  }

  .ideas {
    font-size: 30px;
  }
}
