.root {
  height: 600px;
  position: relative;
}

.headers {
  color: #15c7ff;
  text-align: center;
}

.mainHeading {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.mainTitle {
  font-size: 3.5vw;
  margin: 0;
}

.subTitle {
  font-size: 1.5vw;
  margin: 0;
}

.subHeading {
  position: absolute;
  width: 100%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.name {
  font-size: 3vw;
  margin: 0;
}

.ideas {
  font-size: 1vw;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .root {
    height: 500px;
  }
}

@media screen and (max-width: 700px) {
  .root {
    height: 400px;
  }
}
