.root {
  height: 90vh;
  position: relative;
}

.headers {
  color: #15c7ff;
  text-align: center;
}

.mainHeading {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.mainTitle {
  font-size: 6vw;
  margin: 0;
}

.subTitle {
  font-size: 3vw;
  margin: 0;
}

.subHeading {
  position: absolute;
  width: 100%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.name {
  font-size: 3vw;
  margin: 0;
}

.ideas {
  font-size: 2vw;
  margin: 0;
}
