.root {
  display: inline-block;
  z-index: 11;
}

.container {
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

.barOne,
.barTwo,
.barThree {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.menuIsOpen .barOne {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.menuIsOpen .barTwo {
  opacity: 0;
}

.menuIsOpen .barThree {
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width: 1000px) {
  .root {
    display: none;
  }
}
