.root {
  background-color: white;
}

.navBar {
  display: none;
}

.logo {
  position: absolute;
  height: 50px;
  width: 70px;
  top: 5px;
  left: 20px;
  cursor: pointer;
}

.navLink {
  color: #15c7ff;
  font-size: 18px;
  margin-right: 3em;
  margin-top: 2em;
  text-decoration: none;
  --border-color: #15c7ff;
  --border-width: 1px;
  --bottom-distance: 5px;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-position: 0% calc(100% - var(--bottom-distance));
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}

.navLink:hover {
  background-position: 0% calc(100% - var(--bottom-distance));
  background-size: 100% var(--border-width);
}

.hamburgerContainer {
  margin-top: 60px;
}

.hamburger {
  position: absolute;
  right: 50px;
}

@media screen and (min-width: 1000px) {
  .root {
    height: 65px;
  }

  .navBar {
    height: 70px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navLink {
    font-size: 20px;
    margin-top: 0;
  }

  .logo {
    width: 80px;
    height: 60px;
    left: 100px;
    top: 5px;
  }
}
