.root {
}

.navBar {
  display: none;
}

.logo {
  position: absolute;
  height: 70px;
  width: 90px;
  top: 20px;
  left: 100px;
}

.navLink {
  color: #15c7ff;
  font-size: 18px;
  margin-right: 3em;
  margin-top: 2em;
  text-decoration: none;
  --border-color: #15c7ff;
  --border-width: 1px;
  --bottom-distance: 5px;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-position: 0% calc(100% - var(--bottom-distance));
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}

.navLink:hover {
  background-position: 0% calc(100% - var(--bottom-distance));
  background-size: 100% var(--border-width);
}

.hamburger {
  position: absolute;
  top: 40px;
  right: 30px;
}

@media screen and (min-width: 1000px) {
  .navBar {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logo {
    width: 120px;
    height: 80px;
  }
}
