.root {
}

.navBar {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 150px;
  width: 150px;
  margin-top: 1vh;
  margin-right: auto;
  margin-left: 10vw;
}

.navLink {
  color: #15c7ff;
  font-size: 28px;
  margin-right: 3em;
  margin-top: 2em;
  text-decoration: none;
  --border-color: #15c7ff;
  --border-width: 1px;
  --bottom-distance: 5px;
  background-image: linear-gradient(var(--border-color), var(--border-color));
  background-size: 0% var(--border-width);
  background-position: 0% calc(100% - var(--bottom-distance));
  background-repeat: no-repeat;
  transition: background-size 0.5s;
}

.navLink:hover {
  background-position: 0% calc(100% - var(--bottom-distance));
  background-size: 100% var(--border-width);
}

.hamburger {
  position: absolute;
  top: 50px;
  right: 50px;
}

@media screen and (max-width: 1400px) {
  .navLink {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .navBar {
    display: none;
  }
}
