.root {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: 80px;
  margin-top: auto;
  padding-left: 20px;
  font-size: 9px;
  border-top: 1px solid #15c7ff;
  color: #15c7ff;
}

.title {
  margin: 0;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .root {
    font-size: 11px;
  }
}

@media screen and (min-width: 600px) {
  .root {
    justify-content: center;
  }

  .title {
    margin: 0 10px;
  }
}

@media screen and (min-width: 1100px) {
  .root {
    padding-left: 0;
    justify-content: space-evenly;
    height: 50px;
  }

  .title {
    font-size: 15px;
  }
}
