.root {
  background: linear-gradient(
    90deg,
    rgba(42, 71, 94, 0.5) 0%,
    rgba(21, 199, 255, 0.5) 0%,
    rgba(87, 4, 81, 0.5) 65%
  );
  block-size: min-content;
}

.aboutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 5vw;
}

.imgContainer {
  margin: 0 auto;
}

.img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2vh;
}

.textContainer {
}

.aboutText {
  font-size: 12px;
  margin: 10px 0;
  letter-spacing: 1px;
}

@media screen and (min-width: 600px) {
  .aboutText {
    font-size: 16px;
    margin-left: 30px;
  }

  .img {
    height: 400px;
    width: 400px;
    margin-bottom: 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1100px) {
  .aboutContainer {
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 10vw;
    grid-template-rows: repeat(3, 200px);
  }

  .imgContainer {
    grid-column: 2/3;
  }

  .img {
    width: 100%;
    margin: 0;
    align-self: center;
    justify-self: center;
  }

  .textContainer {
    grid-column: 3/4;
  }

  .aboutText {
    font-size: 12px;
  }
}
