.root {
  background-color: #3a3535;
  border-radius: 10px;
}

.gridContainer {
  height: 800px;
  display: grid;
  grid-template-columns: 5vw repeat(2, 1fr) 5vw;
  grid-template-rows: 100px repeat(5, 100px);
  grid-gap: 20px;
}

.info {
  grid-column: 3 / 4;
  grid-row: 2 / 5;
  align-items: stretch;
  color: #fff;
  margin-left: 30px;
}

.info p {
  margin: 0;
  margin-bottom: 1em;
}

.selfImage {
  grid-column: 2/3;
  grid-row: 2/6;
}

.selfImage img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
