.root {
  background-color: #fff;
  border-radius: 10px;
  block-size: min-content;
}

.gridContainer {
  block-size: 800px;
  display: grid;
  grid-template-columns: 5vw repeat(2, 1fr) 5vw;
  grid-template-rows: 100px repeat(5, 100px);
  grid-gap: 20px;
}

.info {
  grid-column: 3 / 4;
  grid-row: 2 / 6;
  align-items: stretch;
  color: black;
  margin-left: 30px;
}

.info p {
  margin: 0;
  margin-bottom: 1em;
}

.selfImage {
  grid-column: 2/3;
  grid-row: 2/6;
  align-self: center;
  justify-self: center;
}

.selfImage img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1400px) {
  .info p {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .gridContainer {
    display: flex;
    flex-direction: column;
    block-size: min-content;
    margin: 0 1vw;
  }

  .info p {
    font-size: 10px;
    margin-right: 30px;
  }
}
