:root {
  --spacing-unit: 9px;
  --breakpoints-xs: 0px;
  --breakpoints-sm: 600px;
  --breakpoints-md: 960px;
  --breakpoints-lg: 1280px;
  --breakpoints-xl: 1920px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Baloo Da 2', cursive, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input {
  color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
